<div class="container-fluid bg-dark">
    <header class="container text-white">
        <div class="row">
            <div class="col-6"><select>
                    <option>Currency: GBP</option>
                </select>
            </div>
            <div class="col-6 text-right">
                <span class="mr-4">Register</span>
                <span class="mr-4">Sign In</span>
                <span><select>
                        <option>Empty</option>
                    </select></span>
            </div>
        </div>

    </header>
</div>
